@import '../styles/partials/colours';
@import '../styles/partials/fonts';
@import '../styles/partials/variables';
@import '../styles/partials/mixins';
@import '../styles/partials/responsive';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $bg-primary-color;
  color: $text-primary-color;
  font-family: $font-family;
}


.container {
  max-width: $max-width;
  margin: 0 auto;
}